<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vitor Kruel">

    <link rel="stylesheet" href="/Desafios/Desafio-PaginaComCards/static/pagina-com-cards/css/estilos.css">

    <title>Paginas com Cads</title>
</head>

<body>
    <header class="header">
        <h1>Cursos SerFrontend</h1>
        <p>Tudo o que precisa saber para iniciar a carreira</p>
    </header>
    <main class="main-container">
        <div class="main-container__itens">
            <img src="/Desafios/Desafio-PaginaComCards/static/pagina-com-cards/img/card_01.png" alt="">
            <p>Seletores</p>
        </div>
        <div class="main-container__itens">
            <img src="/Desafios/Desafio-PaginaComCards/static/pagina-com-cards/img/card_02.jpg" alt="">
            <p>Seletores</p>
        </div>
        <div class="main-container__itens">
            <img src="/Desafios/Desafio-PaginaComCards/static/pagina-com-cards/img/card_03.jpg" alt="">
            <p>Seletores</p>
        </div>
        <div class="main-container__itens">
            <img src="/Desafios/Desafio-PaginaComCards/static/pagina-com-cards/img/card_04.jpg" alt="">
            <p>Seletores</p>
        </div>
        <div class="main-container__itens">
            <img src="/Desafios/Desafio-PaginaComCards/static/pagina-com-cards/img/card_05.jpg" alt="">
            <p>Seletores</p>
        </div>
        <div class="main-container__itens">
            <img src="/Desafios/Desafio-PaginaComCards/static/pagina-com-cards/img/card_01.png" alt="">
            <p>Seletores</p>
        </div>
    </main>
</body>

</html>