html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
}

main,
header {
    margin: 0 auto;
    max-width: 80rem;
}

p {
    background: #ccc;
}

h1 {
    background: orange;
}

h2 {
    background: rgba(0, 128, 0, 0.471);
    width: 20rem;
    margin: 0 auto;
    text-align: center;  
}

#margin-padding h2 {
    padding: 1.6rem;
    margin: 1.6rem;
}

#margin-padding p {
    text-align: justify;
    /* margin-top: 5rem;
    margin-left: 10rem; */
    margin: 5rem 0 0 10rem;

    /* padding-top: 2rem;
    padding-right: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 2rem; */
    padding: 2rem 1.5rem 2rem 2rem;
}

.destaque {
    background: orange;
}

#border {
    margin-top: 5rem;
    border: 1px solid black;
    border-bottom-color: red;
    border-bottom-width: 2px; 
}

#outline {
    margin-top: 5rem;
    outline: 1px solid black;
}