<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='author' content="Vitor Kruel">
    <title>Curriculo</title>

    <link rel="stylesheet" href="/Desafios/Menu-Horizontal/static/menu-horizontal/css/style.css">
</head>

<body>
    <main>
        <header>
            <h1>Vitor Kruel da Silva</h1>
        </header>

        <section id="informacoes-pessoais">
            <p> Brasileiro, solceiro, 22 anos </p>

            <ul id="redes-sociais">
                <li><a href="">GitHub</a></li>
                <li><a href="">Linkedin</a></li>
                <li><a href="">YouTube</a></li>
            </ul>

        </section>

        <section>
            <div class="estilo-conteudo-h2">
                <h2> Objetivo </h2>
            </div>
            <div class="conteudo">
                <p> Font-End Developer, Desenvolvedor Fron-End, Webdesigner</p>
            </div>
        </section>

        <section>
            <div class="estilo-conteudo-h2">
                <h2> Experiência Profissional </h2>
            </div>
            <div class="conteudo">
                <div>
                    <h3>
                        <a href="#">UOL</a> - 12/2014 até 02/2015 - 2 meses
                    </h3>
                    <h4> Analista Programador - 2 meses</h4>
                    <p> Desenvolvimento de aplicações web com HTML, CSS, AngularJS, Javascript, Ajax.</p>
                </div>
                <div>
                    <h3>
                        <a href="#">Terra</a> 1 ano
                    </h3>
                    <h4> Desenvolvedor FronEnd - 1 ano</h4>
                    <p> Atuei como Desenvolvedor Front-End Pleno</p>
                </div>
                <div>
                    <h3>
                        <a href="#">G1</a> - 6 meses
                    </h3>
                    <h4> Analista Programador - 6 meses</h4>
                    <p> Desenvolvimento de aplicações web com HTML, CSS, AngularJS, Javascript, Ajax.</p>
                </div>
            </div>
        </section>

        <section>
            <div class="estilo-conteudo-h2">
                <h2> Formação </h2>
            </div>
            <div class="conteudo">
                <div>
                    <h3>Graduação em Tecnologia da Informação</h3>
                    <p> 01/2010 a 12/2012</p>
                    <p> Unisinos </p>
                </div>
                <div>
                    <h3> Pós-Graduação em Fron-End</h3>
                    <p> 08/2014 a 12/2015</p>
                    <p> Unisinos </p>
                </div>
            </div>
        </section>

        <section>
            <div class="estilo-conteudo-h2">
                <h2> Cursos / Especialização </h2>
            </div>
            <div class="conteudo">
                <ul>
                    <li>Participação em evento xxxxxx</li>
                    <li>Certificado em Google Adwords</li>
                </ul>

                <div>
                    <h3>HTML5</h3>
                    <p> SERFRONTEND - 40H - 2022</p>
                </div>
                <div>
                    <h3>JAVASCRIP</h3>
                    <p> SERFRONTEND - 40H - 2022</p>
                </div>
                <div>
                    <h3>CSS3</h3>
                    <p> SERFRONTEND - 40H - 2022</p>
                </div>
                <div>
                    <h3>IDIOMAS</h3>
                    <p> Inglês: Básico</p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>