<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vitor Kruel">

    <link rel="stylesheet" href="/Projetos/Projeto-ListaDeContatos/static/css/estilo.css">

    <title>Lita de Contato</title>
</head>

<body>
    <h1 class="main-title">Lista de Contatos</h1>

    <div class="list-wrapper">
        <ul class="list">
            <li class="list-item">
                <div class="list-item__imagem">
                    <img src="/Projetos/Projeto-ListaDeContatos/static/img/1.jpg" alt="Brennan George">
                </div>
                <div class="list_item__content">
                    <p class="list-item__name">
                        Brennan George
                    </p>
                    <p class="list-item__email">
                        BrennanGeorge@exemple.com
                    </p>
                </div>
                <div class="list_item__action">
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/delete.png" alt="Delite">
                    </a>
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/edit.png" alt="Edit">
                    </a>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item__imagem">
                    <img src="/Projetos/Projeto-ListaDeContatos/static/img/2.jpg" alt="Brennan George">
                </div>
                <div class="list_item__content">
                    <p class="list-item__name">
                        Adam Weaver
                    </p>
                    <p class="list-item__email">
                        AdamWeaver@exemple.com
                    </p>
                </div>
                <div class="list_item__action">
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/delete.png" alt="Delite">
                    </a>
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/edit.png" alt="Edit">
                    </a>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item__imagem">
                    <img src="/Projetos/Projeto-ListaDeContatos/static/img/3.jpg" alt="Brennan George">
                </div>
                <div class="list_item__content">
                    <p class="list-item__name">
                        Troy Butler
                    </p>
                    <p class="list-item__email">
                        TroyButler@exemple.com
                    </p>
                </div>
                <div class="list_item__action">
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/delete.png" alt="Delite">
                    </a>
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/edit.png" alt="Edit">
                    </a>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item__imagem">
                    <img src="/Projetos/Projeto-ListaDeContatos/static/img/4.jpg" alt="Brennan George">
                </div>
                <div class="list_item__content">
                    <p class="list-item__name">
                        Isobel Lewis
                    </p>
                    <p class="list-item__email">
                        IsobelLewis@exemple.com
                    </p>
                </div>
                <div class="list_item__action">
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/delete.png" alt="Delite">
                    </a>
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/edit.png" alt="Edit">
                    </a>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item__imagem">
                    <img src="/Projetos/Projeto-ListaDeContatos/static/img/5.jpg" alt="Brennan George">
                </div>
                <div class="list_item__content">
                    <p class="list-item__name">
                        Lisa Garcia
                    </p>
                    <p class="list-item__email">
                        LisaGarcia@exemple.com
                    </p>
                </div>
                <div class="list_item__action">
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/delete.png" alt="Delite">
                    </a>
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/edit.png" alt="Edit">
                    </a>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item__imagem">
                    <img src="/Projetos/Projeto-ListaDeContatos/static/img/6.jpg" alt="Brennan George">
                </div>
                <div class="list_item__content">
                    <p class="list-item__name">
                        Carolyn Silva
                    </p>
                    <p class="list-item__email">
                        CarolynSilva@exemple.com
                    </p>
                </div>
                <div class="list_item__action">
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/delete.png" alt="Delite">
                    </a>
                    <a href="#">
                        <img src="/Projetos/Projeto-ListaDeContatos/static/img/edit.png" alt="Edit">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>